In [1]:
from datetime import datetime, timedelta
from sqlalchemy import create_engine, MetaData, Table
from scrape_sofa import get_sofascore_api_data, init_driver, get_all_players_stats_fbref, get_all_teams_stats_fbref
import pandas as pd

today = datetime.now()
yesterday = today - timedelta(days=3)
yesterday = yesterday.strftime('%Y-%m-%d')
engine = create_engine('mysql+pymysql://root@localhost/footviz')
df_partidos_ayer = pd.read_sql(f"SELECT * FROM partido WHERE fecha = '{yesterday}'", engine)

In [2]:
driver = init_driver()
data = get_all_teams_stats_fbref(driver, id_liga_fbref='9/Premier-League')

c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
c:\Users\amrr1\Documents\Proyectos\BaseDeDatos\scrape_scripts\scrape_sofa.py:148: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]

In [10]:
data

              Squad   xG  Sh  SoT  FKaPuerta  ...  Clr  dribblesAtt  PrgC  GCA  PrgP
0           Arsenal  4.4  37    8          2  ...   56           63    62   11    95
1       Aston Villa  2.5  33    9          0  ...   50           61    46    0   134
2       Bournemouth  4.5  44   13          4  ...  107           69    41    7    95
3         Brentford  3.8  24    7          0  ...  109           57    41    4    62
4          Brighton  6.1  32   12          0  ...   64           42    42    5    85
5           Burnley  3.1  27    9          2  ...   96           30    22    7    78
6           Chelsea  6.4  43   14          1  ...   56           57    57   12   127
7    Crystal Palace  4.4  24   11          0  ...  110           27    29    8    74
8           Everton  4.3  28    8          1  ...   95           65    31   10    84
9            Fulham  3.4  31    6          1  ...   59           49    55    3   105
10     Leeds United  2.9  33    4          1  ...   69           48    44    1    83
11        Liverpool  3.4  33   17          1  ...  114           46    51   15   105
12  Manchester City  5.8  37   11          1  ...   62           74    72   10   137
13   Manchester Utd  6.7  56   15          1  ...   73           36    76    4   126
14    Newcastle Utd  2.9  34    8          1  ...   53           49    59    4   128
15  Nott'ham Forest  3.5  31    9          0  ...   59           54    56    8   146
16       Sunderland  3.0  30    8          0  ...   97           25    46    9   111
17        Tottenham  3.6  33   12          1  ...   89           74    48    9    94
18         West Ham  3.7  35   14          1  ...   84           61    33    6   101
19           Wolves  2.1  27    8          1  ...   71           31    27    4    82

[20 rows x 24 columns]

In [4]:
import cloudscraper
from bs4 import BeautifulSoup, Comment

id_liga_fbref = '9/Premier-League'

base_url = "https://fbref.com/en/comps/"
full_url = f"{base_url}{id_liga_fbref}-Stats"

scraper = cloudscraper.create_scraper()  
response = scraper.get(full_url)

soup = BeautifulSoup(response.text, "lxml")

tables = soup.find_all("table")

if not tables:
    comments = soup.find_all(string=lambda text: isinstance(text, Comment))
    for comment in comments:
        if "table" in comment:
            comment_soup = BeautifulSoup(comment, "lxml")
            tables += comment_soup.find_all("table")

df_total = [pd.read_html(str(table))[0] for table in tables if table]

C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]
C:\Users\amrr1\AppData\Local\Temp\ipykernel_18940\4100435535.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_total = [pd.read_html(str(table))[0] for table in tables if table]

In [18]:
cols = tabla_ofensiva_en_contra.columns.tolist()
cols[15] = 'xgAgainst'
tabla_ofensiva_en_contra.columns = cols

In [19]:
tabla_ofensiva_en_contra

                 Squad  # Pl  90s  Gls  ...  npxG/Sh  G-xG  np:G-xG         15
0           vs Arsenal    21  3.0    1  ...     0.07  -1.2     -1.2  xgAgainst
1       vs Aston Villa    19  3.0    4  ...     0.16  -1.3     -1.5  xgAgainst
2       vs Bournemouth    18  3.0    4  ...     0.10   1.1      1.1  xgAgainst
3         vs Brentford    18  3.0    5  ...     0.10   0.5      0.3  xgAgainst
4          vs Brighton    19  3.0    4  ...     0.14  -0.1     -0.1  xgAgainst
5           vs Burnley    17  3.0    5  ...     0.12  -1.6     -1.8  xgAgainst
6           vs Chelsea    19  3.0    1  ...     0.07  -1.3     -1.3  xgAgainst
7    vs Crystal Palace    18  3.0    1  ...     0.09  -2.6     -2.6  xgAgainst
8           vs Everton    17  3.0    3  ...     0.09  -2.5     -2.1  xgAgainst
9            vs Fulham    18  3.0    3  ...     0.10  -2.2     -1.9  xgAgainst
10     vs Leeds United    20  3.0    5  ...     0.10   1.1      0.9  xgAgainst
11        vs Liverpool    20  3.0    4  ...     0.10   0.8      0.8  xgAgainst
12  vs Manchester City    19  3.0    4  ...     0.10   0.1     -0.1  xgAgainst
13   vs Manchester Utd    19  3.0    4  ...     0.15  -0.3     -0.3  xgAgainst
14    vs Newcastle Utd    18  3.0    3  ...     0.09   1.4      1.4  xgAgainst
15  vs Nott'ham Forest    17  3.0    5  ...     0.12   0.1     -0.4  xgAgainst
16       vs Sunderland    18  3.0    3  ...     0.08   0.2      1.0  xgAgainst
17        vs Tottenham    18  3.0    1  ...     0.09  -3.0     -3.0  xgAgainst
18         vs West Ham    19  3.0    8  ...     0.13   3.8      3.8  xgAgainst
19           vs Wolves    19  3.0    8  ...     0.15   2.4      2.4  xgAgainst

[20 rows x 21 columns]