In [2]:
pip install dotenv

Collecting dotenvNote: you may need to restart the kernel to use updated packages.

  Downloading dotenv-0.9.9-py2.py3-none-any.whl.metadata (279 bytes)
Collecting python-dotenv (from dotenv)
  Using cached python_dotenv-1.1.1-py3-none-any.whl.metadata (24 kB)
Downloading dotenv-0.9.9-py2.py3-none-any.whl (1.9 kB)
Using cached python_dotenv-1.1.1-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv, dotenv
Successfully installed dotenv-0.9.9 python-dotenv-1.1.1

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import os

from sqlalchemy import create_engine, MetaData, Table
from dotenv import load_dotenv

from datetime import datetime, timedelta
today = datetime.now()


# --- 2. CONSTRUIR LA URL DE LA BASE DE DATOS DE FORMA SEGURA ---
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')
yesterday = today - timedelta(days=1)
db_url = f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
load_dotenv()
engine = create_engine(db_url)


df_partidos_ayer = pd.read_sql(f"SELECT * FROM partido WHERE fecha = '{yesterday}'", engine)

In [19]:
id_partido = 1
id_jugador = 218
df_porteros = pd.read_sql(f'select jugador, rating from estadistica_jugador_portero where partido = {id_partido} ORDER BY rating DESC LIMIT 1', engine)
df_jugadores = pd.read_sql(f'select jugador, rating from estadistica_jugador_partido where partido = {id_partido} ORDER BY rating DESC LIMIT 1', engine)

mejor_portero_rating = df_porteros['rating'][0]
mejor_jugador_rating = df_jugadores['rating'][0]

if mejor_jugador_rating >= mejor_portero_rating:
    print("El mejor fue el jugador")
    if df_jugadores['jugador'][0] == id_jugador:
            print("Somos los mejores")
    else:
        print("No somos los mejores") 
else:
    print("El mejor fue el portero")
    if df_porteros['jugador'][0] == id_jugador:
            print("Somos los mejores")
    else:
        print("No somos los mejores")

El mejor fue el jugador
No somos los mejores

In [32]:
df_stats = pd.read_sql(f'SELECT * FROM estadistica_jugador_portero where jugador = {id_jugador} and partido = {id_partido}', engine)

atajadas = 7  # df_stats['atajadas'][0]
iter = atajadas / 3



for i in range(int(iter)): 
    print("Cagada")

Cagada
Cagada

In [33]:
df_partido = pd.read_sql(f'SELECT * FROM partido where  id_partido = {id_partido}', engine)

In [35]:
df_partido['jornada'][0]

np.int64(1)

In [40]:
df_random_jugadores = pd.read_sql(f"SELECT * FROM estadistica_jugador_partido WHERE partido = 1", engine)

In [41]:
df_random_jugadores

,id_estadistica_jugador,jugador,partido,goles,pases_totales,pases_acertados,pases_largos_totales,pases_largos_acertados,asistencias,despejes,...,entrada_de_ultimo_hombre,duelos_aereos_ganados,duelos_aereos_perdidos,centros,centros_acertados,disparos_bloqueados,gran_oportunidad_fallada,tarjeta_amarilla,tarjeta_roja,autogoles
0,153,101,1,0,16,12,1,0,0,2,...,0,0,0,1,0,1,0,0,0,0
1,154,111,1,0,33,29,3,0,0,6,...,0,0,0,0,0,0,0,0,0,0
2,155,110,1,0,74,63,9,3,0,17,...,0,12,1,0,0,0,1,0,0,0
3,156,113,1,0,29,27,4,3,0,5,...,0,2,4,1,0,0,0,1,0,0
4,157,99,1,0,75,66,7,4,0,2,...,0,0,0,1,0,0,0,0,0,0
5,158,98,1,0,46,40,0,0,1,0,...,0,1,1,1,0,0,0,0,0,0
6,159,97,1,1,30,18,4,3,0,0,...,0,0,0,5,1,1,0,0,0,0
7,160,93,1,0,51,38,4,4,0,1,...,0,0,2,4,2,0,0,0,0,0
8,161,100,1,1,29,21,2,1,0,1,...,0,6,5,3,1,0,0,0,0,0
9,162,94,1,1,21,14,1,1,1,1,...,0,4,2,0,0,0,1,0,0,0
10,163,112,1,0,9,6,0,0,0,2,...,0,1,1,1,1,0,0,0,0,0
11,164,104,1,0,17,16,2,2,1,1,...,0,1,0,0,0,0,0,0,0,0
12,165,116,1,0,7,6,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,166,105,1,0,11,9,2,1,0,0,...,0,2,2,0,0,0,0,0,0,0
14,167,95,1,1,3,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,168,213,1,0,25,16,8,3,0,7,...,0,3,5,1,0,0,0,0,0,0
16,169,212,1,0,41,30,8,1,0,6,...,0,1,2,0,0,0,0,0,0,0
17,170,210,1,0,31,21,12,3,0,11,...,0,1,3,2,1,0,0,0,0,0
18,171,204,1,0,18,14,1,0,0,3,...,0,1,1,4,2,0,0,0,0,0
19,172,201,1,0,39,28,5,1,0,3,...,0,1,0,0,0,0,0,0,0,0
20,173,198,1,2,15,7,3,2,0,0,...,0,5,6,0,0,0,1,0,0,0
21,174,202,1,0,23,19,1,0,0,0,...,0,2,1,3,0,0,0,0,0,0
22,175,203,1,0,35,27,6,2,0,6,...,0,1,1,5,0,1,1,0,0,0
23,176,207,1,0,18,12,0,0,1,0,...,0,0,0,4,2,2,0,1,0,0
24,177,194,1,0,13,9,0,0,0,3,...,0,3,7,0,0,0,0,1,0,0
25,178,2548,1,0,2,2,0,0,1,1,...,0,0,2,1,0,0,0,0,0,0
26,179,2880,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [44]:
for i in range(len(df_random_jugadores)):
    id_jugador = int(df_random_jugadores.iloc[i]['jugador'])
    print(id_jugador)

101
111
110
113
99
98
97
93
100
94
112
104
116
105
95
213
212
210
204
201
198
202
203
207
194
2548
2880

In [2]:

df_premier = pd.read_sql(f"SELECT * FROM partido where id_partido = 32 ", engine)

In [8]:
df_random_jugadores = pd.read_sql(f"SELECT * FROM estadistica_jugador_partido WHERE partido = 35", engine)

In [9]:
df_random_jugadores

,id_estadistica_jugador,jugador,partido,goles,pases_totales,pases_acertados,pases_largos_totales,pases_largos_acertados,asistencias,despejes,...,entrada_de_ultimo_hombre,duelos_aereos_ganados,duelos_aereos_perdidos,centros,centros_acertados,disparos_bloqueados,gran_oportunidad_fallada,tarjeta_amarilla,tarjeta_roja,autogoles
0,4000,486.0,35,0,33,27,3,1,0,1,...,1,1,2,4,0,0,0,0,0,0
1,4001,485.0,35,0,102,89,16,9,0,8,...,0,1,0,0,0,0,0,0,0,0
2,4002,483.0,35,0,87,82,4,2,0,5,...,0,1,1,0,0,0,0,0,0,0
3,4003,479.0,35,0,32,23,1,0,0,4,...,0,5,2,5,0,0,0,0,0,0
4,4004,477.0,35,0,31,28,1,0,0,1,...,0,0,5,3,0,0,1,0,0,0
5,4005,478.0,35,0,50,47,4,3,0,2,...,0,1,0,1,1,0,0,1,0,0
6,4006,476.0,35,0,18,16,1,0,0,0,...,0,0,1,2,0,0,0,0,0,0
7,4007,488.0,35,0,10,7,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8,4008,475.0,35,0,23,15,5,2,0,0,...,0,0,1,2,0,0,0,0,0,0
9,4009,472.0,35,0,9,3,2,1,0,1,...,0,3,4,0,0,0,1,0,0,0
10,4010,474.0,35,0,20,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,4011,471.0,35,0,6,3,0,0,0,0,...,0,1,0,2,0,0,0,0,0,0
12,4012,NaN,35,0,4,3,0,0,0,0,...,0,0,0,3,2,0,0,0,0,0
13,4013,480.0,35,0,3,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,4014,470.0,35,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
15,4015,306.0,35,0,30,22,4,1,0,3,...,0,0,1,2,0,1,0,0,0,0
16,4016,304.0,35,0,54,50,5,3,0,10,...,0,6,4,0,0,0,0,0,0,0
17,4017,301.0,35,0,55,52,7,4,0,6,...,0,1,0,0,0,0,0,0,0,0
18,4018,303.0,35,0,39,33,2,0,0,1,...,0,0,1,5,1,0,0,0,0,0
19,4019,293.0,35,0,39,33,0,0,0,1,...,0,1,2,1,0,0,0,0,0,0
20,4020,300.0,35,0,44,34,5,1,0,3,...,0,1,0,1,0,0,0,0,0,0
21,4021,295.0,35,0,36,27,2,2,0,2,...,0,5,1,2,0,2,0,1,0,0
22,4022,291.0,35,0,17,14,1,0,0,2,...,0,0,2,0,0,0,0,0,0,0
23,4023,285.0,35,0,8,5,0,0,0,0,...,0,3,0,0,0,0,1,0,0,0
24,4024,284.0,35,0,22,18,3,3,0,1,...,0,0,1,1,0,1,0,1,0,0
25,4025,294.0,35,0,5,4,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26,4026,286.0,35,0,3,1,0,0,0,0,...,0,2,2,0,0,0,0,0,0,0
27,4027,288.0,35,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
28,4028,290.0,35,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
id_partido = 81
sql_jugadores = f"""
        SELECT j.id_jugador, j.posicion, s.* FROM estadistica_jugador_partido s
        JOIN jugador j ON s.jugador = j.id_jugador
        WHERE s.partido = {id_partido}
    """
df_jugadores = pd.read_sql(sql_jugadores, engine)
print(f"Hubo {len(df_jugadores)} jugadores de campo en el partido")

Hubo 0 jugadores de campo en el partido